{% extends "lab_10/layout/base.html" %}

{% block content %}
<style type="text/css">
	header{
		position: relative;
		padding-bottom: 100px;
	}
</style>

<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>

<!-- template source: https://ganool.se/ -->
<section id="later" class="main-watch-later">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-10 col-md-10">
		    <div class="row watch-later-list">
		    {% for movie in watch_later_movies %}
			    <div class="movimgbox col-lg-2 col-md-2 col-sm-4 col-xs-6">
			    	<a class="ml-mask" href="{% url 'lab-10:movie_detail' movie.imdbid %}">
			    		<img class="img-responsive homethumb" src="{{ movie.poster }}">
			    		<span class="mli-info">
			    			<div class="moviename"> {{ movie.title }} </div>
			    		</span>
			    	</a>
			    </div>
			{% endfor %}
		    </div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>
</div>
</section>
{% endblock %}
