{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
.circular-image {
  border-radius:  50%;
  margin: 20px 0 20px 0;
  width: 200px;
  height: 200px;
}
} 
</style>

<body style="background-color: lightblue">
</body>
<center>
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAMAAAAPdrEwAAAAA1BMVEUAuktYXuPwAAAAH0lEQVRYhe3BAQ0AAADCoPdPbQ43oAAAAAAAAACAbwMf/gABw/u21QAAAABJRU5ErkJggg==" alt="gambar" class="circular-image">
</center>

<center>
 <h1>Portofolio</h1>   


<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
</center>

<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
